html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p {
    font-size: 18px;
    color: #006064;
    background-color: #00e676;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
